.header {
    padding: 10px;
    h1 {
        background: url(../../../visual/img/icon_top.png) no-repeat center center;
        height: 100px;
        margin: auto;
        overflow: hidden;
        text-indent: -5000px;
    }
}